<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Task Manager API practice project built with Node JS, Express and TypeScript"
    />
    <meta name="author" content="eddiebee" />
    <title>Task Manager API</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <main>
      <h1>Task Manager API</h1>
      <h2>Node JS + Express + TypeScript</h2>
      <a href="https://github.com/eddiebee">
        <button>View Source Code</button>
      </a>
    </main>
  </body>
</html>
